@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Michroma&display=swap');

body {
  background-image: url("./image/017-hh4647.jpg");
  background-size: cover;
  font-family: "Electrolize", sans-serif;
}

p {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.btn {
  background-color: #f2d5a3;
  padding: 15px 20px;
  border-radius: 4px;
}

a:hover {
  background-color: #FFFECB;
}

.container {
  width: 700px;
  margin: 40px auto;
  text-align: center;
  font-size: 15px;
  color: #f7e6f0;
  font-family: "Michroma", sans-serif;
}

.card-white {
  border-radius: 30px;
  margin: 20px 20px;
  background: rgb(66 62 62 / 56%);
  padding: 30px;
  backdrop-filter: blur(20px);
  text-align: center;
}

#avatar {
  background-image: url(./image/romain.JPG);
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li > a > i {
  font-size: 40px;
}

@media (max-width: 960px) {

  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  .container {
    width: 300px;
  }
}
